$Error_block: rgba(170, 40, 40, .8);

$Physical_space: rgb(50, 50, 50);
$Engine_panel: rgb(80, 80, 80);

$Point: rgb(130, 10, 140);

$Box_Shadow: rgb(30,30,30);
$Btn_control: rgb(200,200,200);

$Text_color: rgb(210, 210, 210);
