.Point {
	position: absolute;
	display: inline-block;
	transition: all 200ms ease-out;
	&::before {
		content: " ";
		width: 1em;
		height: 1em;
		display: inline-block;
		border-radius: 100%;
		background: $Point;
	}
}
