#Error_block {
	position: fixed;
	top: 0.5em;
	right: 0.5em;
	width: 30%;
	padding: 0.25em 0.25em 1em;
	background: $Error_block;
	transition: all 1s;
	word-break: keep-all;
	color: $Text_color;
	z-index: 1;
}
#Physical_space {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 92%;
	padding: 0.5em;
	background: $Physical_space;
	@import "_point";
}
#Engine_panel {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 8%;
	text-align: center;
	box-shadow: 0 -1px 2px $Box_Shadow;
	background: $Engine_panel;
	#control_panel {}
	#quantity_panel {
		#quantity {
			width: 3em;
			padding: 1em;
		}
	}
	#control_panel,
	#quantity_panel {
		width: 33%;
		height: 100%;
		display: inline-flex;
		margin: 0 auto;
		.btn_control {
			width: 33%;
			height: 100%;
			display: inline-block;
			padding: 0.6em;
			text-decoration: blink;
			font-size: 1.5em;
			color: $Btn_control;
		}
	}
}
