@charset "utf-8";
@import "compass";
@import "compass/reset";
@import "_colors";
* {
	box-sizing: border-box;
}
body {
	width: 100%;
	height: 100%;
  position: absolute;
	@import "_UI";
}
@import "_fonts";
